* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
:root{
    --color1: #70fcfb; 
    --color2: #4c5282;
    --color3: #ecb54e;
    --color3: #30272a;
    }
body {
    background-image: url(img/fon.jpeg); 
    background-position: center center;
    background-size: cover; 
    backdrop-filter: blur(2px);
}
.container{
max-width: 420px;
min-width: 360px;
height: 100vh;
padding: 10px;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}
.container1{
    width: 100%;
    max-height: 500px;
}
.container2{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 0 auto;



    }
    .form2{
        /* margin: 0 auto; */
        width: 100%;
        max-height: 500px;
        background-color: rgba(245, 245, 245, 0.8);
        border-radius: 5px;
        padding: 10px;
        box-shadow: 1px 1px 10px var(--color1);
        
        }
h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
label{
    width: 60%;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: right;
}
input{
    margin-left: 1%;
    width: 19%;
    height: 28px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    color: var(--color2);
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #000;
    background-color: rgba(255, 255, 255, 0.9);

}
input::placeholder{
    font-size: 14px;
    font-weight: normal;
    color: var(--color4);
}
input:focus::placeholder{
    color: #bdbdbd;
    
}
input:focus{
    outline: none;
    border: 2px solid #70fcfb ; 
    background-color: rgba(255, 255, 255, 1); 
}

button{
    font-size: 18px; 
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    background-color: var(--color2);
    border-radius: 5px;
    box-shadow: 2px 2px 4px #000;
    transition-duration: 100ms;

}
button:active{
    background-color: var(--color1); 
    color: var(--color2);
}
.dop{
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace, serif;
    font-size: 16px; 
    font-weight: normal;
}
.gl{
 border-bottom: 1px dashed #000 ;
 border-top: 1px dashed #000 ;
 padding-top: 5px;
 padding-bottom: 5px;
 margin-top: 5px;
 margin-bottom: 5px;
 font-weight: bold;
 font-size: 16px; 
}

    .dop p{
        width: 280px;
        font-family: 'Courier New', Courier, monospace, serif;
        font-size: 16px; 
        font-weight: normal;
    }
span{
    font-family: 'Courier New', Courier, monospace, serif;
    font-size: 16px;  
    font-weight: bold;
}




